@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'roboto', sans-serif;
}

.board li.drag-sort-active {
  opacity: 0.7;
  background:#d6e2e6;
  border: 2px solid #4ca1af;
}

.board li{
  
  position:relative;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  background:#d8d6d6;
  border-radius:3px;
  font-size:medium;
  font-weight: bold;
}

.board li:nth-child(even){
  background:#c5c5c5;
}



.box-close{
  position:absolute;
  top:0;
  right:0;
  padding:10px 10px 10px 10px;
}
.box-close:hover{
  background:red
}





a{
  color:black !important;
}

.note{
  width:500px;
  height: 500px;
  margin: 0 auto;
  margin-top:20px;
  border-style: dotted;
  display: flex;
  flex-direction: column;
}
.note .input {
  color:red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.note .input .text{
  width:100%;
}
.note .input .picture, .enter{
  height:43px;
  width:50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
